body {
    background-color: #d3d3d3 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #00747c;
}

.navbar-brand,
.nav-link {
    color: #CACACA !important;
}

.nav-link:hover {
    color: #03363a !important;
}

.content {
    flex: 1;
    margin-bottom: 60px;  /* Ajuste para acomodar el footer */
}

footer {
    background-color: #00747c;
    color: #CACACA;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    min-height: 150px;
}

/* styles.css */

.card {
    border: 1px solid #00747C;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #00747C;
    font-weight: bold;
    margin-bottom: 0; /* Asegura que el margen inferior sea 0 */
}

.card-subtitle {
    color: #878787;
    margin-bottom: 0; /* Asegura que el margen inferior sea 0 */
}

.card-text {
    color: #202022;
    white-space: pre-line; /* Permite saltos de línea en el texto */
    margin-top: 10px; /* Espacio entre la fecha y el mensaje */
}

.btn-primary {
    background-color: #00747C;
    border-color: #00747C;
}

.btn-primary:hover {
    background-color: #005f66;
    border-color: #005f66;
}
