{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Ingreso</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        
    </form>
    <a href="{% url 'register' %}">
        <button type="submit" class="btn btn-success btn-block mt-3">Registro</button>
    </a>
    
</div>
{% endblock %}
