<!-- about.html -->
{% extends 'base.html' %}

{% block title %}Sobre mí{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Sobre mí</h2>
    <div class="card mb-3">
        <div class="card-body">
            <h3>Andrés Eduardo</h3>
            <p><strong>Ubicación:</strong> Montevideo, Uruguay</p>
            <p><strong>Edad:</strong> 45 años</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4>Carrera Laboral</h4>
            <p>Desde que comencé a trabajar a los 16 años, he tenido una carrera extensa y variada, siempre buscando mejoras y oportunidades para crecer. Mi espíritu autodidacta y mi determinación me han permitido enfrentar desafíos y superarlos. Nunca digo "no se puede" sin antes intentarlo, y si algo no resulta, me quedo con la experiencia ganada.</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4>Pasión por el Desarrollo de Software</h4>
            <p>Descubrí mi pasión por el desarrollo de software en mis primeros pasos en internet. Desde entonces, me he dedicado a crear herramientas que minimicen el error humano en tareas manuales, optimizando procesos y mejorando la eficiencia.</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4>Experiencia Actual</h4>
            <p>En mi trabajo actual, he desarrollado decenas de herramientas que son utilizadas por cientos de personas. Estas herramientas han hecho que las tareas sean más amigables y se realicen más rápido. Mi objetivo siempre es buscar soluciones y mejorar procesos, haciendo que las tareas sean más eficientes y menos propensas a errores.</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4>Filosofía Personal</h4>
            <p>Soy una persona que no se pone límites. Creo firmemente en intentar antes de decir que algo no se puede hacer. Mi filosofía de vida es no quedarme con la duda y siempre probar nuevas ideas y soluciones. Esto me ha permitido crecer tanto en mi vida personal como profesional, enfrentando cada desafío con determinación y curiosidad.</p>
        </div>
    </div>
</div>
{% endblock %}
