{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Foro</h2>
    <a href="{% url 'add_comment' %}" class="btn btn-primary mb-3">Agregar Comentarios</a>
    {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title mb-0">{{ comment.user.username }}</h5>
                    <h6 class="card-subtitle text-muted">{{ comment.created_at|date:"F j, Y, g:i a" }}</h6>
                </div>
                <p class="card-text">{{ comment.message }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
