{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="id_username">Usuario:</label>
            <input type="text" class="form-control" id="id_username" name="username" required>
            <small class="form-text text-muted">Tu contraseña debe tener como máximo 150 caracteres. Solo se permiten letras, dígitos y los siguientes caracteres: @/./+/-/_.</small>
        </div>
        <div class="form-group">
            <label for="id_email">Correo electrónico:</label>
            <input type="email" class="form-control" id="id_email" name="email" required>
        </div>
        <div class="form-group">
            <label for="id_password1">Contraseña:</label>
            <input type="password" class="form-control" id="id_password1" name="password1" required>
            <small class="form-text text-muted">
                Debe contener al menos 8 caracteres, no ser demasiado común ni completamente numérica, y no parecerse demasiado a tu información personal.
            </small>
        </div>
        <div class="form-group">
            <label for="id_password2">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="id_password2" name="password2" required>
            <small class="form-text text-muted">Ingresa la misma contraseña que antes para verificar.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registro</button>
    </form>
    <a href="{% url 'login' %}">
        <button type="submit" class="btn btn-success btn-block mt-3">Iniciar Sesión</button>
    </a>
</div>
{% endblock %}
